{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h3 class="mt-2" style="text-align: center;">Catatan Harian</h3>

    <!-- <ol class="breadcrumb mb-1" style="text-align: center;"> -->
    <div class="row" style="text-align: center;">
        <div class="col-sm-6">
            <div class="card bg-white text-black">
                <div class="card-body">
                    <a href="catatan/" data-toggle="modal" data-target="#tambah">
                        <h1 class="card-title"><i class="fas fa-plus-square display-4"></i></h1>
                    </a>
                    <p class="card-text" style="font-weight:bold;">Input Catatan</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-white text-black">
                <div class="card-body">
                    <a href="catatan/">
                        <h1 class="card-title"><i class="fas fa-list-alt display-4"></i></h1>
                    </a>
                    <p class="card-text" style="font-weight:bold;">Lihat Catatan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-borderless" id="" width="100%" cellspacing="0">
            {% for d in data %}
            <tr data-toggle="modal" data-target="#detail-{{d.id}}">
                <td>{{forloop.counter}}</td>
                <td>{{d.tgl_kegiatan}}</td>
                <td>{{d.judul}}</td>
                <td>
                    {% for img_obj in d.catatan.all %}
                    <a href="{{img_obj}}">Gambar {{forloop.counter}}</a>
                    {% endfor %}
                </td>
            </tr>

            <!-- Modal Detail -->
            <div class="modal fade" id="detail-{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detail">Detail Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                Tanggal Kegiatan : {{d.tgl_kegiatan}}
                            </div>
                            <div class="">
                                Owner : {{d.owner}}
                            </div>
                            <div class="">
                                Judul : {{d.judul}}
                            </div>
                            <div class="">
                                Uraian : {{d.ket}}
                            </div>
                            <div class="">
                                {% for img_obj in d.catatan.all %}
                                <a href="{{img_obj}}">File</a>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#delete-{{d.id}}">
                                <i class="fas fa-trash-alt"></i></i></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal delete -->
            <div class="modal fade" id="delete-{{d.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete">Delete Data LAB-SOS</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <p> Do You want To delete
                                    <strong>{{d.judul}}</strong>?</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" type="button" data-dismiss="modal" aria-label="Close">
                                No
                            </button>
                            <a href="/{{d.id}}/delete/" type="submit" class="btn btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </table>
    </div>

    <!-- Modal input -->
    <div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="input">Tambah Catatan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="mt-3" enctype="multipart/form-data">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form_catatan|crispy }}
                        {{ form_gambar|crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Input</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}